.landing-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .landing-logo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    cursor: pointer;
  }
  