python-dotenv
hume==0.7.0
opencv-python
streamlit
flask-cors
Flask
numpy
pandas
sounddevice
simpleaudio

# Voice Recognition

#run this before below if error
#! pip install --upgrade setuptools
#! pip install distutils

# For some reason if there is an ffmpeg error (windows), include:
# pip install ffmpeg
# refer to https://dev.hume.ai/docs/empathic-voice-interface-evi/quickstart/python

# For MAC
# brew update
# brew upgrade
# brew install ffmpeg

# If sounddevice is not found on MACOS
# try this:
# brew install portaudio