  .sidebar {
    position: fixed;
    top: 0;
    left: 0px;
    width: 170px;
    height: 100%;
    background-color: #25B9C0;
    color: white;
    font-size: x-large ;
    z-index: 999;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    list-style-type: none;
    font-family: Inter;
  }

  .nav-list {
    margin-top: 50%;
  }

  .sidebar nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar nav ul li {
    padding: 30px 20px;
    padding-bottom: 50px;
  }
  
  .sidebar nav ul li a {
    text-decoration: none;
  }
  
  .sidebar nav ul li:hover {
    background-color: #9b9b9b;
    /*padding-inline: 10px;*/
    /* width: 120px;
    height: 10px; */
    border-radius: 20px;
  }

  .nav-link {
    color: white;
    text-decoration: none;
  }
  
  .user-info {
    position: fixed;
    bottom: 0;
    background-color: #84D9DF;
    color: black;
    font-size: large;
    width: 230px;
    height: 180px;
    left: 0px;
  }

  .user-info p {
    padding-left: 20px;
  }

  .logout-button {
    position: fixed;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    left: 10px;
  }