.account-container {
    max-width: 50vw;
    margin: 0 auto;
    padding: 20px;
    padding-left: 20em;
    font-family: Inter;
  }

  .account-container h1 {
    font-size: 2.5em;
    font-family: Inter;
    padding-bottom: 1em;
  }
  
  .profile-section {
    display: flex;
    align-items: center;
  }
  
  .profile-info h2 {
    margin: 0;
  }
  
  .profile-info p {
    margin: 5px 0 0;
    color: grey;
  }
  
  .account-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.3em;
    font-family: Inter;
  }
  
  .account-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .account-form h3 {
    margin-top: 20px;
    font-size: 1.5em;
  }
  
  .account-form button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    font-size: 0.9em;
  }
  
  .account-form button:hover {
    background-color: #333;
  } 

  .sign-up-button,
  .guest-account-button {
    margin-right: 10px;
    width: 12em;
    height: 5em;
  }
  
  .guest-account-button {
    margin-left: 2em;
  }
  
  .resizedTextbox {
    width: 100px; height: 25px; padding: 1px
  }