.about-container {
    max-width: 60vw;
    margin: 0 auto;
    padding: 20px;
    font-family: Inter, Inter;
    text-align: center;
    padding-left: 20em;
    font-size: 1.2m;
  }
  
  .about-container h1 {
    font-size: 4em;
    margin-bottom: 20px;
  }
  
  .about-container p {
    font-size: 1.7em;
    margin-bottom: 20px;
  }
  
  .about-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .about-section.reverse {
    flex-direction: row-reverse;
  }
  
  .about-image {
    flex: 1;
    text-align: center;
  }
  
  .about-image img {
    border-radius: 50%;
    width: 300px;
    height: 10vp;
  }
  
  .about-text {
    font-size: 1.7em;
    flex: 2;
    text-align: left;
    padding: 0 20px;
    max-width: 30vw;
  }
  
  .about-text h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  
  .about-text p {
    font-size: 1em;
  }